@require "../mixins"

control-color = Var(--control-color, -red-500)
control-over = Var(--control-over, -red-600)
control-active = Var(--control-active, -red-700)

.tw-button
  use rounded font-semibold
  background control-color
  color white
  padding 8 12

  &:hover
    background control-over

  &:active
    background control-active
    // shadow focus

  &:focus
    shadow focus