@require "../mixins"

.tw-button
  use rounded font-semibold
  background control-color
  color control-inner
  padding 8 12

  &:hover
    background control-hover

  &:active
    background control-active
    // shadow focus

  &:focus
    shadow focus

  // icon
  svg
    height px(16)
    width px(16)
    margin-right px(8)