@require "../mixins"
@require "vars"

.tw-button
  use rounded font-semibold
  background control-color
  color control-inner
  padding 8 12

  &:hover
    background control-hover

  &:active
    background control-active
    // shadow focus

  &:focus
    shadow focus