@require "../mixins/base.styl"

tw-aria()
  if __tw_once("aria")
    // From https://hankchizljaw.com/wrote/a-modern-css-reset/
    // Remove all animations and transitions for people that prefer not to see them
    @media (prefers-reduced-motion reduce)
      *, *::before, *::after
        animation-duration 0.01ms !important
        animation-iteration-count 1 !important
        transition-duration 0.01ms !important
        scroll-behavior auto !important
