// (C)opyright 2020-11-17 Dirk Holtwick, holtwick.it. All rights reserved.

@require "vendor.styl"
@require "units.styl"

// https://tailwindcss.com/docs/float
clearfix()
  &::after
    content: "";
    display: table;
    clear: both;

// https://tailwindcss.com/docs/display#hidden
hidden()
  display none

// Paddings

p-l(value)
  padding-left rex(value)

p-r(value)
  padding-right rex(value)

p-t(value)
  padding-top rex(value)

p-b(value)
  padding-bottom rex(value)

p-x(value)
  padding-left rex(value)
  padding-right rex(value)

p-y(value)
  padding-top rex(value)
  padding-bottom rex(value)

pl = p-l
pr = p-r
pt = p-t
pb = p-b
px = p-x
py = p-y

p(x, y = -1)
  if y >= 0
    padding rex(y) rex(x)
  else
    padding rex(x)

// Margins

m-l(value)
  margin-left rex(value)

m-r(value)
  margin-right rex(value)

m-t(value)
  margin-top rex(value)

m-b(value)
  margin-bottom rex(value)

m-y(value)
  margin-top rex(value)
  margin-bottom rex(value)

m-x(value)
  margin-left rex(value)
  margin-right rex(value)

m-y(value)
  margin-top rex(value)
  margin-bottom rex(value)

ml = m-l
mr = m-r
mt = m-t
mb = m-b
mx = m-x
my = m-y

m(value)
  margin rex(value)

// Border

//border(color, args...)
//  if color is a 'number'
//    border-width: px(value)
//  if color is a 'color'
//    border: 1px solid color args
//  else
//    border: arguments
//
//border(value)
//  border-style: solid
//  if value == 1
//    border-width: 1px
//  else
//    border-width: px(value)


// https://tailwindcss.com/docs/box-shadow

-shadow-xs = 0 0 0 1px rgba(0, 0, 0, 0.05)
-shadow-sm = 0 1px 2px 0 rgba(0, 0, 0, 0.05)
-shadow-base = 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
-shadow-md = 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
-shadow-lg = 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
-shadow-xl = 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)
-shadow-2xl = 0 25px 50px -12px rgba(0, 0, 0, 0.25)
-shadow-inner = inset 0 2px 4px 0 rgba(0, 0, 0, 0.06)
-shadow-outline = 0 0 0 3px rgba(66, 153, 225, 0.5)

shadow(value=-shadow-base)
  if value is a 'ident'
    box-shadow lookup("-shadow-" + value)
  else if value is a 'unit'
    box-shadow rex(value)
  else
    box-shadow value

// https://tailwindcss.com/docs/opacity

-opacity-0 = 0
-opacity-25 = 0.25
-opacity-50 = 0.5
-opacity-75 = 0.75
-opacity-100 = 1

// Size

size(w, h = 0)
  width: rex(w)
  height: rex(h || w)

maxSize(w, h = 0)
  max-width: rex(w)
  max-height: rex(h || w)

minSize(w, h = 0)
  min-width: rex(w)
  min-height: rex(h || w)

w(w)
  width: rex(w)

h(h)
  height: rex(h)

// https://tailwindcss.com/docs/placeholder-color

placeholder(placeholderColor=text-500)
  &::placeholder
    color placeholderColor


// https://tailwindcss.com/docs/border-radius

-border-radius-none = 0
-border-radius-sm = 0.125rem
-border-radius = 0.25rem
-border-radius-md = 0.375rem
-border-radius-lg = 0.5rem
-border-radius-xl = 0.75rem
-border-radius-2xl = 1rem
-border-radius-3xl = 1.5rem
-border-radius-full = 9999px

rounded(value=radius)
  if value is a 'ident'
    border-radius lookup("-border-radius-" + value)
  else if value is a 'unit'
    border-radius rex(value)
  else
    border-radius value

// https://tailwindcss.com/docs/divide-width

vdivide(color=gray-500, width=1px)
  & > * + *
    border-top-color color
    border-top-width width
    border-top-style solid

hdivide(color=gray-500, width=1px)
  & > * + *
    border-left-color color
    border-left-width width
    border-left-style solid
