// (C)opyright 2020-11-17 Dirk Holtwick, holtwick.it. All rights reserved.

@require "vendor.styl"
@require "base.styl"
@require "colors.styl"

// https://tailwindcss.com/docs/float
clearfix()
  &::after
    content: "";
    display: table;
    clear: both;

// https://tailwindcss.com/docs/display#hidden
hidden()
  display none

// https://tailwindcss.com/docs/opacity

-opacity-0 = 0
-opacity-25 = 0.25
-opacity-50 = 0.5
-opacity-75 = 0.75
-opacity-100 = 1

// Size

size(w, h = 0)
  width rex(w)
  height rex(h || w)

maxSize(w, h = 0)
  max-width rex(w)
  max-height rex(h || w)

minSize(w, h = 0)
  min-width rex(w)
  min-height rex(h || w)

height(value)
  if value == full
    min-height -webkit-fill-available
    height 100%
  else
    height rex(value)

width(value)
  if value == full
    width 100%
  else
    width rex(value)

h = height
w = width

// https://tailwindcss.com/docs/placeholder-color

placeholder(placeholderColor = -text-500)
  &::placeholder
    color placeholderColor
