// (C)opyright 2020-11-17 Dirk Holtwick, holtwick.it. All rights reserved.

// https://stylus-lang.com/docs/interpolation.html

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)
