@import "../index.styl"

windy-reset()

body
  background -teal-50
  font-family sans-serif
  p 16

.box
  background white
  shadow lg
  rounded lg
  padding 0 16

  &_title
    bold()

.animation
  absolute top 100px left 100px
  background red
  windy windy-transform
  transform-scale 50
  transform-rotate 90

button
  ring 3
  windy-animation go
  windy grow vscroll
  // windy-animation default

