body {
  background: #f0fdfa;
  font-family: sans-serif;
  padding: 1rem;
}
.box {
  background: #fff;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
  border-radius: 0.5rem;
  padding: 0 1rem;
}
.box_title {
  font-weight: 700;
}
.animation {
  background: rgba(66,153,225,0.5);
  position: absolute;
  top: 100px;
  left: 100px;
  background: #f00;
  transform: translate3d(var(--transform-translate-x, 0), var(--transform-translate-y, 0), 0) rotate(var(--transform-rotate, 0)) skewX(var(--transform-skew-x, 0)) skewY(var(--transform-skew-y, 0)) scaleX(var(--transform-scale-x, 1)) scaleY(var(--transform-scale-y, 1));
  --transform-scale-x: 0.5;
  --transform-scale-y: 0.5;
  --transform-rotate: 90deg;
}
button {
  ring: 3;
  animation: bounce 1s infinite;
  flex: auto;
  overflow: hidden;
  position: static !important;
  overflow: auto !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  contain: content;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.list {
  background: #ccfbf1;
}
.list > * + * {
  border-top-color: #71717a;
  border-top-width: 1px;
  border-top-style: solid;
}
.list .item {
  background: #99f6e4;
}
.test {
  demo2: xdefault;
  demo2: xdefault;
}
.test2 {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 150ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}
.test3 {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}
.test4 {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition: xxx;
}
.test4 {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: background-color, border-color, color, fill, stroke;
}
