@import "../index.styl"

tw-reset()

body
  background -teal-50
  font-family sans-serif
  p 16

.box
  background white
  shadow lg
  rounded lg
  padding 0 16

  &_title
    bold()

.animation
  background rgba(66, 153, 225, 0.5)
  absolute top 100px left 100px
  background red
  // tw tw-transform
  do transform-gpu
  transform-scale 50
  transform-rotate 90

button
  ring 3
  do animation
  // tw-animation go
  tw grow vscroll

// tw-animation default

.list
  // border 1px solid red
  background -teal-100
  // space-y 16
  divide-y(padding:8)

  .item
    background -teal-200

demo(d = tw)
  if d == tw
    demo2 xdefault
  else
    demo2 d

.test
  demo apply
  apply demo

.test2
  transition-timing-function -ease-in
  use transition

.test3
  use transition

.test4
  transition xxx

.test4
  transition colors
