*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-size: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  border: none;
  width: auto;
  min-width: 0;
  background: inherit;
  color: inherit;
  text-transform: none;
}
a {
  outline: none;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
[contenteditable] {
  outline: none;
}
img,
video,
picture {
  display: block;
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: left;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
pre,
tt,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background: #f0fdfa;
  font-family: sans-serif;
  padding: 1rem;
}
.box {
  background: #fff;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
  border-radius: 0.5rem;
  padding: 0 1rem;
}
.box_title {
  font-weight: 700;
}
.animation {
  background: rgba(66,153,225,0.5);
  position: absolute;
  top: 100px;
  left: 100px;
  background: #f00;
  transform: translate3d(var(--transform-translate-x, 0), var(--transform-translate-y, 0), 0) rotate(var(--transform-rotate, 0)) skewX(var(--transform-skew-x, 0)) skewY(var(--transform-skew-y, 0)) scaleX(var(--transform-scale-x, 1)) scaleY(var(--transform-scale-y, 1));
  --transform-scale-x: 0.5;
  --transform-scale-y: 0.5;
  --transform-rotate: 90deg;
}
button {
  ring: 3;
  animation: bounce 1s infinite;
  flex: auto;
  overflow: hidden;
  position: static !important;
  overflow: auto !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  contain: content;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.list {
  background: #ccfbf1;
}
.list > * + * {
  border-top-color: #71717a;
  border-top-width: 1px;
  border-top-style: solid;
}
.list .item {
  background: #99f6e4;
}
.test {
  demo2: xdefault;
  demo2: xdefault;
}
.test2 {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 150ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}
.test3 {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}
.test4 {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition: xxx;
}
.test4 {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: background-color, border-color, color, fill, stroke;
}
.prose {
  color: -text-800;
  line-height: 1.75;
}
.prose *,
.prose ::before,
.prose ::after {
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
.prose hr {
  border-top-width: 1px;
}
.prose img {
  border-style: solid;
}
.prose table {
  border-collapse: collapse;
}
.prose textarea {
  resize: vertical;
}
.prose input::placeholder,
.prose textarea::placeholder {
  color: #9ca3af;
}
.prose button,
.prose [role="button"] {
  cursor: pointer;
}
.prose button,
.prose input,
.prose optgroup,
.prose select,
.prose textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
.prose img,
.prose svg,
.prose video,
.prose canvas,
.prose audio,
.prose iframe,
.prose embed,
.prose object {
  display: block;
  vertical-align: middle;
}
.prose img,
.prose video {
  max-width: 100%;
  height: auto;
}
.prose pre,
.prose code,
.prose kbd,
.prose samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.prose [class~=lead] {
  color: #4a5568;
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
.prose a[href] {
  color: #1a202c;
  text-decoration: underline;
}
.prose h1 a[href],
.prose h2 a[href],
.prose h3 a[href],
.prose h4 a[href] {
  color: inherit;
  text-decoration: none;
}
.prose strong,
.prose b {
  color: #1a202c;
  font-weight: 600;
}
.prose hr {
  border-color: #e2e8f0;
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}
.prose blockquote {
  font-weight: 500;
  font-style: italic;
  color: #1a202c;
  border-left-width: 0.25rem;
  border-left-color: #e2e8f0;
  quotes: "\201C" "\201D" "\2018" "\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}
.prose blockquote p:first-of-type::before {
  content: open-quote;
}
.prose blockquote p:last-of-type::after {
  content: close-quote;
}
.prose h1 {
  color: #1a202c;
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}
.prose h2 {
  color: #1a202c;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}
.prose h3 {
  color: #1a202c;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}
.prose h4 {
  color: #1a202c;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}
.prose figure figcaption {
  color: #718096;
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}
.prose code::before {
  content: "`";
}
.prose code::after {
  content: "`";
}
.prose pre {
  color: #e2e8f0;
  background-color: #2d3748;
  overflow-x: auto;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-right: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-left: 1.1428571em;
}
.prose pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 400;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
.prose pre code::before {
  content: "";
}
.prose pre code::after {
  content: "";
}
.prose table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}
.prose th,
.prose td {
  border-bottom-width: 1px;
  border-bottom-color: #e4e4e7;
}
.prose th:first-child,
.prose td:first-child {
  padding-left: 0;
}
.prose th:last-child,
.prose td:last-child {
  padding-right: 0;
}
.prose tr:last-child {
  border-bottom-width: 0;
}
.prose tr th {
  font-weight: 600;
  vertical-align: bottom;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  border-bottom-color: #a1a1aa;
}
.prose tr td {
  vertical-align: top;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.prose img {
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose video {
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose figure {
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose figure > * {
  margin-top: 0;
  margin-bottom: 0;
}
.prose h2 code {
  font-size: 0.875em;
}
.prose h2 + * {
  margin-top: 0;
}
.prose h3 code {
  font-size: 0.9em;
}
.prose h3 + * {
  margin-top: 0;
}
.prose hr + * {
  margin-top: 0;
}
.prose h4 + * {
  margin-top: 0;
}
.prose ul,
.prose ol {
  margin: 1rem 0 1rem 1rem;
  padding: 0;
}
.prose ul ul,
.prose ol ul,
.prose ul ol,
.prose ol ol {
  margin: 1rem 0 1rem 1rem;
}
.prose ul li,
.prose ol li {
  margin-top: 0.5rem;
}
.prose ul {
  list-style: disc outside;
}
.prose ul ul {
  list-style-type: circle;
}
.prose ol {
  list-style: decimal outside;
}
.prose ol ol {
  list-style-type: lower-alpha;
}
.prose dl dt {
  font-weight: bold;
}
.prose dl dd {
  margin: 0.5rem 0 1rem 0;
}
.my-table td,
.my-table th {
  padding: 0.5rem;
  border: 1px solid #52525b;
}
