@import "../index.styl"

windy-reset()

body
  background -teal-50
  font-family sans-serif
  p 16

.box
  background white
  shadow lg
  rounded lg
  padding 0 16

  &_title
    bold()

windy_animations()

.animation
  absolute top 100px left 100px
  background red
  windy-transform()
  transform-scale 50
  transform-rotate 90
  animation-bounce()

button
  ring 3
