// (C)opyright 2020-11-17 Dirk Holtwick, holtwick.it. All rights reserved.

// helper
__pos_helper(type, args) {
  i = 0;

  position: unquote(type);

  for j in 1 .. 4 {
    if length(args) > i {
      {args[i]}: args[i + 1] is a "unit" ? ((((((((((args[i += 1])))))))))) : 0;
    }

    i += 1;
  }
}

/*
 * Position utility.
 *
 * Synopsis:
 *
 *   absolute: <pos> [n] <pos> [n]
 *
 * Examples:
 *
 *     absolute: top left
 *     absolute: top 5px left
 *     absolute: top left 5px
 *     absolute: top 5px left 5px
 *
 */
absolute() {
  __pos_helper("absolute", arguments);
}

fixed() {
  __pos_helper("fixed", arguments);
}

relative() {
  __pos_helper("relative", arguments);
}

sticky() {
  __pos_helper("sticky", arguments);
}

left(value = base) {
  if value is a "unit" {
    left: rex(value);
  } else {
    left: value;
  }
}

top(value = base) {
  if value is a "unit" {
    top: rex(value);
  } else {
    top: value;
  }
}

bottom(value = base) {
  if value is a "unit" {
    bottom: rex(value);
  } else {
    bottom: value;
  }
}

right(value = base) {
  if value is a "unit" {
    right: rex(value);
  } else {
    right: value;
  }
}
