// (C)opyright 2020-11-19 Dirk Holtwick, holtwick.it. All rights reserved.

// Paddings
padding-left(value) {
  padding-left: rex(value)
}

padding-right(value) {
  padding-right: rex(value)
}

padding-top(value) {
  padding-top: rex(value)
}

padding-bottom(value) {
  padding-bottom: rex(value)
}

padding(args) {
  padding: rexArgs(arguments)
}

padding-x(value) {
  padding-left: value
  padding-right: value
}

padding-y(value) {
  padding-top: value
  padding-bottom: value
}

p-l = padding-left
p-r = padding-right
p-t = padding-top
p-b = padding-bottom
p-x = padding-x
p-y = padding-y
p = padding
pl = padding-left
pr = padding-right
pt = padding-top
pb = padding-bottom
px = padding-x
py = padding-y

// Margins
margin-left(value) {
  margin-left: rex(value)
}

margin-right(value) {
  margin-right: rex(value)
}

margin-top(value) {
  margin-top: rex(value)
}

margin-bottom(value) {
  margin-bottom: rex(value)
}

margin(args) {
  margin: rexArgs(arguments)
}

margin-x(value) {
  margin-left: value
  margin-right: value
}

margin-y(value) {
  margin-top: value
  margin-bottom: value
}

m-l = margin-left
m-r = margin-right
m-t = margin-top
m-b = margin-bottom
m-x = margin-x
m-y = margin-y
m = margin
ml = margin-left
mr = margin-right
mt = margin-top
mb = margin-bottom
mx = margin-x
my = margin-y

// Spaces
space-x(value = 8) {
  & > * + * {
    margin-left: rex(value)
    margin-right: rex(value)
  }
}

space-y(value = 8) {
  & > * + * {
    margin-top: rex(value)
    margin-bottom: rex(value)
  }
}
