// Controls like buttons
control-inner = Var(--control-inner, white)
control-color = Var(--control-color, -red-500)
control-hover = Var(--control-hover, -red-600)
control-active = Var(--control-active, -red-700)
control-radius = Var(--control-radius, -border-radius-base)
// Input
input-border = Var(--input-border-color, -gray-900)
input-background = Var(--input-border-color, -gray-900)
input-radius = Var(--input-radius, -border-radius-base)
