// Controls like buttons
control-inner = Var(--control-inner, white);
control-color = Var(--control-color, -red-500);
control-hover = Var(--control-hover, -red-600);
control-active = Var(--control-active, -red-700);
control-radius = Var(--control-radius, -border-radius-base);
control-border = Var(--control-border, none);
// Input
input-color = Var(--input-color, black);
input-background = Var(--input-background, white);
input-border = Var(--input-border, 1px solid -gray-300);
input-border-hover = Var(--input-border-hover, 1px solid -gray-400);
input-radius = Var(--input-radius, -border-radius-base);