// Controls like buttons
control-inner = var(--control-inner, white);
control-color = var(--control-color, -red-500);
control-hover = var(--control-hover, -red-600);
control-active = var(--control-active, -red-700);
control-radius = var(--control-radius, -border-radius-base);
control-border = var(--control-border, none);
// Input
input-color = var(--input-color, black);
input-background = var(--input-background, white);
input-border = var(--input-border, 1px solid -gray-300);
input-border-hover = var(--input-border-hover, 1px solid -gray-400);
input-radius = var(--input-radius, -border-radius-base);

/* Inspirational source https://open-props.style/ */