@import "inter-ui/inter.css";
@require "../..";

tw-reset();
tw-inter();

.header {
  margin: 16;
}

.indent {
  margin: 16;
}

.sample {
  margin-y: 16;
  padding: 16;
  background: -gray-100;
  border-radius: base;
}

.dropdown {
  use: select;
}