@import "inter-ui/inter.css";
@import "../../index";

tw-reset();
tw-inter();

.header {
  margin: 16;
}

.indent {
  margin: 16;
}

.prose {
  use: prose;
}

.tw-button {
  use: tw-button;
}

.dropdown {
  use: select;
}