@import "inter-ui/inter.css";
@require "twindy";

tw-reset();
tw-inter();

.header {
  margin: 16;
}

.indent {
  margin: 16;
}

.prose {
  use: prose;
}

.sample {
  margin-y: 16;
  padding: 16;
  background: -gray-100;
  border-radius: base;
}

.tw-button {
  use: tw-button;
}

.dropdown {
  use: select;
}