// (C)opyright 2020-11-17 Dirk Holtwick, holtwick.it. All rights reserved.

@require "base.styl"
@require "colors.styl"

// https://tailwindcss.com/docs/float
clearfix()
  &::after
    content: "";
    display: table;
    clear: both;

// https://tailwindcss.com/docs/display#hidden
hidden()
  display none

// https://tailwindcss.com/docs/opacity

-opacity-0 = 0
-opacity-25 = 0.25
-opacity-50 = 0.5
-opacity-75 = 0.75
-opacity-100 = 1

// https://tailwindcss.com/docs/placeholder-color

placeholder(placeholderColor = -text-500)
  &::placeholder
    color placeholderColor
