@import "../index.styl"

.shouldTransformTo_rem
  margin rex(16)

.shouldKeep_px
  margin rex(16px)

.shouldKeep_rem
  margin rex(16rem)

.shouldKeep_auto
  margin rex(auto)

.shouldConvertManyArgs
  padding 16 16rem 16px "string" inset 100%
